## Telco Customer Churn Prediction

## Business Understanding

##### **Problem Statement:** 
Telco is facing high levels of competition and customer churn, which significantly impact it profitability. To maintain a competitive edge and reduce churn, telco management wants to identify customers who are at risk of leaving.

### **Objective:**
To build a strong machine learning pipeline to predict customers who are likely to churn. The preidiction modelling should analyze historical customer dataset provided for this project. The insights gained will enable the company to implement targeted retention strategies, thereby reducing churn rates and increasing customer loyalty.

### Key Metrics and Success Criteria

- The Model should have a accuracy score of 85% (on balance data)
- Good models are expected to have an F1 score of > 0.80 or 80%
- An ROC curve of 80% is ideal for the model generalize well
- There should be atlest  4 Baseline models
- All hyperparameter turning should only be only to Baseline models if they exceeded thier F1 score

### Features

**customerID:** Unique Identifier for the each customer

**gender:** Gender of the customer

**SeniorCitizen:** Whether the customer is a senior citizen or not

**Partner:** Whether the customer has a partner or not 

**Dependents:** Whether the customer has dependents or not 

**tenure:** Number of months the customer has stayed with the company

**PhoneService:** Whether the customer has phone service or not 

**MultipleLines:** Whether the customer has multiple lines or not 

**InternetService:** Customer’s internet service provider 

**OnlineSecurity:** Whether the customer has online security or not 

**OnlineBackup:** Whether the customer has online backup or not 

**DeviceProtection:** Whether the customer has device protection or not 

**TechSupport:** Whether the customer has tech support or not 

**StreamingTV:** Whether the customer has streaming TV or not 

**StreamingMovies:** Whether the customer has streaming movies or not 

**Contract:** The contract term of the customer 

**PaperlessBilling:** Whether the customer has paperless billing or not 

**PaymentMethod:** The customer’s payment method 

**MonthlyCharges:** The amount charged to the customer monthly

**TotalCharges:** The total amount charged to the customer

**Churn:** Whether the customer has churned or not

### **Hpypthesis Statements**
##### **Null Hypothesis (H₀):** The features do not help predict whether a customer will churn.

##### **Alternative Hypothesis (H₁):** The features do help predict whether a customer will churn.


#### **Null Hypothesis (H₀):** There is no association between the number of services a customer uses and their likelihood of churning.
 
#### This hypothesis assumes that using more or fewer services doesn't affect customer churn.
 
#### **Alternative Hypothesis (H₁):** There is a negative association between the number of services a customer uses and their likelihood of churning.

### **Analytical Question:**

1. ##### How do customer age, gender, and location affect churn rates, is there a specific age group that exhibits the highest churn rate and are there specific demographic groups that have higher churn rates compared to others?

2. ##### How do churn rates vary among different age groups based on the type of subscription plan they have?

3. ##### How does the average monthly usage (e.g., minutes, data usage) correlate with churn, are customers with higher usage more or less likely to churn?

4. ##### How does the length of the contract (e.g., month-to-month vs. yearly) influence churn, Are customers with shorter contracts more prone to churning?

5. ##### How do payment methods (e.g., automatic payments vs. manual payments) impact churn, is there a correlation between payment issues (e.g., late payments) and churn rates?

6. ##### How does the length of time a customer has been with the company affect their likelihood to churn, are newer customers more likely to churn compared to long-term customers?

## **Data Understanding**

### Data Importations

In [9]:
# Import data manipulation packages

import pyodbc    
from dotenv import dotenv_values
import numpy as np
import pandas as pd
import warnings 
import matplotlib as plt 
import seaborn as sns
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

In [ ]:
# Install pyodbc to connect to database to get the first dataset from
# Install python-dotenv to store sensitive information
#%pip install pyodbc  
#%pip install python-dotenv
#%pip install numpy
#%pip install pandas
#pip install matplotlib
#%pip install seaborn

#### Create a connection by accessing the connection string with the environment variables

In [10]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [12]:
# use f sring to connect to the database.
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [13]:
# connect to database using pyodbc
connection = pyodbc.connect(connection_string)
# Write SQL Query to get data from the database
query = "SELECT * FROM LP2_Telco_churn_first_3000"

In [15]:
data = pd.read_sql(query, connection)

In [16]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

#### Download the second data from GitHub repository and laod to daframe.

In [17]:
data2 = pd.read_csv(r"C:\Users\USER\Desktop\Customer-churn-prediction-\data\LP2_Telco-churn-second-2000.csv")

In [18]:
# Preview the data2
data2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

In [19]:
# Merge the two dataset together.

df = pd.concat([data, data2], ignore_index=True)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.85,False
1,5575-GNVDE,Male,0,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.5,False
2,3668-QPYBK,Male,0,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,0,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.75,False
4,9237-HQITU,Female,0,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

### Exploratory Data Analysis

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   int64
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     4774 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    4392 non-null   object
 10  OnlineBackup      4392 non-null   object
 11  DeviceProtection  4392 non-null   object
 12  TechSupport       4392 non-null   object
 13  StreamingTV       4392 non-null   object
 14  StreamingMovies   4392 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5038 non-null   object
 20  Churn             5042 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 827.5+ KB

### **Key Notes**

- Values in some columns in the two datasets are not the same (True or False, to be same as Yes or No) needs to be changes to be the same accross the two datasets.
- There are missing values in some columns in the dataset that needs to be taken care of.
- The numerical feature of the dataset is not evenly distributed, as shown in the dot describe, this needs to be taken into considration when building the model.
- There are no duplicate values in the dataset.
- The standard deviation of the numerical feature are much.
- The TotalCharges column is right-skewed disribution.
- The MonthlyCharges also column is right-skewed distribution.
- Month on month contract type has the highest count of contract types while one year contract type has the lowest.
- Fiber optic Internet Service has the highest count of internet types while one year No Internet type has the lowest.
-Eletronic check is the highest payment method but mailed check is the lowest payment method.
- Telco has more male cutomers than female.

##### Replace the values (True or False to Yes oe No) in the colums to be same across the tables for consistency

In [21]:
# List the columns and replace True or False to Yes or No.
df = pd.DataFrame(data)

# Columns to be updated
columns_to_update = [
    'Partner', 'PhoneService', 'MultipleLines', 'OnlineSecurity',
    'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
    'PaperlessBilling', 'Churn'
]

# Apply the transformation to the specified columns
for column in columns_to_update:
    df[column] = df[column].apply(lambda x: 'Yes' if x is True else 'No' if x is False else x)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   object
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   object
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   object
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(2), float64(2), int64(1), object(16)
memory usage: 451.3+ KB

In [23]:
df.isna().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64